// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.
// Copyright (C) 2024 Connor Rigby <connorr@hey.com>

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include <arm/allwinner/sun8i-t113s.dtsi>

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Trellis T113-S4";
	compatible = "protolux,trellis-t113", "allwinner,sun8i-t113s", "allwinner,sun8i";

	aliases {                                      
      serial1 = &uart1;                        
      serial3 = &uart3;
      serial4 = &uart4;
      serial5 = &uart5;
  	};

	chosen {
		stdout-path = "serial4:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 3 18 GPIO_ACTIVE_HIGH>; /* PD18 */
			linux,default-trigger = "heartbeat";
		};

		led-1 {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_INDICATOR;
			gpios = <&pio 3 19 GPIO_ACTIVE_HIGH>; /* PD19 */
		};
	};

	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
		regulator-always-on;
	};

	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
		regulator-always-on;
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&rtc {
	status = "okay";
};

&dcxo {
	clock-frequency = <24000000>;
};

&wdt {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pc-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;

	gpio-line-names =
		/* PA */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PB */
		"","","CAN0_TX","CAN0_RX","UART5_TX","UART5_RX","UART3_TX","UART3_RX",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PC */
		"","","CAN0_SIL","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PD */
		"","","","","","","","UART4_TX",
		"UART4_RX","","","","","","ESP_BOOT","",
		"ESP_RESET","LED_GREEN","LED_BLUE","","","","","",
		"","","","","","","","",
		/* PE */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PF */
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		"","","","","","","","",
		/* PG */
		"MMC1_CLK","MMC1_CMD","MMC1_D0","MMC1_D1","MMC1_D2","MMC1_D3","UART1_TX","UART1_RX",
		"UART1_RTS","","","","","","I2C2_SCL","I2C2_SDA",
		"","","","","","","","",
		"","","","","","","","";

	uart4_pd_pins: uart4-pd-pins {
		pins = "PD7", "PD8";
		function = "uart4";
	};

	/omit-if-no-ref/
	i2c2_pg_pins: i2c2-pg-pins {
		pins = "PG14", "PG15";
		function = "i2c2";
	};

	/omit-if-no-ref/
	uart5_pb_pins: uart5-pb-pins {
		pins = "PB4", "PB5";
		function = "uart5";
	};

};

/* shell */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pd_pins>;
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_3v3>;
	disable-wp;
	bus-width = <4>;
	max-frequency = <50000000>;
	non-removable;
	broken-cd;
	no-1-8-v;
	status = "okay";
};

&gpadc {
	status = "okay";
	channel@0 {
        reg = <0>;
    };

};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&spi0 {
	status = "disabled";
};

// &spi1 {
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&spi1_pd_pins>;
// 	status = "okay";
// 
// 	/* Generic spidev on chip-select 0  → /dev/spidev0.0 */
// 	spidev0: spidev@0 {
// 	  compatible = "menlo,m53cpld";
// 	  reg = <0>;
// 	  spi-max-frequency = <10000000>;
// 	};
// };

&mixer0 {
	status = "disabled";
};

&tcon_top {
	status = "disabled";
};

&tcon_lcd0 {
	status = "disabled";
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins>;
	silent-gpios = <&pio 2 2 GPIO_ACTIVE_HIGH>; /* PC2 */
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pg_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-high;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pb_pins>;
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_3v3>;
	vqmmc-supply = <&reg_3v3>;
	bus-width = <4>;
	non-removable;
	broken-cd;
	no-1-8-v;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	status = "okay";

	// esp32: wifi@1 {
	// 	compatible = "espressif,esp32-sdio", "espressif,esp-hosted-sdio";
	// 	reg = <1>;
	// 	reset-gpios = <&pio 3 15 GPIO_ACTIVE_LOW>; /* PD15 */
	// 	boot-gpios = <&pio 3 14 GPIO_ACTIVE_LOW>; /* PD14 */
	// };
};

&crypto {
	status = "okay";
};
